<webobject name = "CheckboxOuterWrapper">
	<webobject name = "ListNotEmpty">
		<webobject name = "CheckboxRepetition">
			<webobject name = "CheckboxInnerWrapper">
				<label>
					<webobject name = "Checkbox"></webobject>
					<webobject name = "Label"></webobject>
				</label>
			</webobject>
		</webobject>
		<webobject name = "HiddenInput"></webobject>	
		<webobject name = "ShowSelectAllCheckbox">
			<div class = "checkbox">
				<label>
					<webobject name = "SelectAllCheckbox"></webobject>
					Select/Deselect All?		
				</label>			
			</div>
		</webobject>
	</webobject>
</webobject>
