<webobject name = "PageWrapper">
	<div id = "ribbon">
		<ol class = "breadcrumb">
			<li></li>
		</ol>
	</div>
	<div id = "content">
		<section>
			<div class = "row">
				<article class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<webobject name = "Form">
						<webobject name = "HasMessage">
							<webobject name = "Warning" />
						</webobject>
						<webobject name = "ShowObjectDefinition">
							<webobject name = "ObjectDefinition" />
						</webobject>	
						<webobject name = "ShouldProvideConfirmMessage">
							<p><webobject name = "ConfirmMessage"></webobject></p>
						</webobject>
						<webobject name = "NoBranchChoices">
							<webobject name = "OKButton" />	
						</webobject>
					</webobject>
				</article>				
			</div>
		</section>
	</div>
</webobject>