<webobject name = "ListItem">
	<webobject name = "Link">
		<webobject name = "HasIcon">
			<webobject name = "Icon"></webobject>
		</webobject>
		<webobject name = "IsFirstLevel">
			<webobject name = "FirstLevelSpan">
				<webobject name = "Label"></webobject>
			</webobject>
		</webobject>
		<webobject name = "IsNotFirstLevel">
			<webobject name = "Label"></webobject>
		</webobject>
	</webobject>
	<webobject name = "HasChildren">
		<ul>
			<webobject name = "Children">
				<webobject name = "Child" />
			</webobject>
		</ul>
	</webobject>
</webobject>
