<webobject name = "PageWrapper">
	<!-- TODO Help  -->
	<webobject name = "RequiredWrapper">
		<webobject name = "ErrorBlock" />
		<webobject name = "Widget">
				<header></header>	
				<div role = "content">
					<div class = "widget-body">
					<webobject name = "EditForm">
						<webobject name = "ShowTopActionBlock">
							<div class = "form-actions">
								<div class = "row">
									<div class = "col-md-12">
										<webobject name = "PrinterButton" />
										<webobject name = "ActionBar" />
										<webobject name = "Controller" />
										<webobject name = "IsNotEditing">
											<webobject name = "ShowCancel">
												<webobject name = "ReturnButton" />
											</webobject>
										</webobject>
										<webobject name = "IsEditing">
											<webobject name = "CancelButton" />
											<webobject name = "SaveChanges" />
										</webobject>
									</div>
								</div>
							</div>
						</webobject>
						<webobject name = "InspectPageRepetition" />
						<div class = "form-actions">
							<div class = "row">
								<div class = "col-md-12">
									<webobject name = "PrinterButton" />
									<webobject name = "ActionBar" />
									<webobject name = "Controller" />
									<webobject name = "IsNotEditing">
										<webobject name = "ShowCancel">
											<webobject name = "ReturnButton" />
										</webobject>
									</webobject>
									<webobject name = "IsEditing">
										<webobject name = "CancelButton" />
										<webobject name = "SaveChanges" />
									</webobject>
								</div>
							 </div>
						</div>
					</webobject>
				</div>
				</div>
			</webobject>
	</webobject>	
</webobject>