<webobject name = "PageWrapper">
	<section>
		<div class = "row">
			<h1 class = "row-seperator-header">Search All</h1>
		</div> 
		<webobject name = "SectionsContents">
			<webobject name = "HasSectionName">
				<h2><webobject name = "SectionName"></webobject></h2>
			</webobject>
			<webobject name = "EntitiesRepetition">
				<webobject name = "Widget">
					<header>
						<span class="widget-icon">
							<i class="fa fa-search"></i>
						</span>
						<h2><webobject name = "EntityName"></webobject></h2>
					</header>
					<div class = "widget-body">
						<webobject name = "QueryForm">
							<fieldset>
								<webobject name = "QueryAnyField"></webobject>
								<webobject name = "SearchButton" />
								<webobject name = "ShowMoreOptionsLink">
									<webobject name = "MoreOptions"></webobject>
								</webobject>	
							</fieldset>		
						</webobject>
					</div>
				</webobject>
			</webobject>
		</webobject>
	</section>
</webobject>