<webobject name = "PageWrapper">
	<webobject name = "RequiredWrapper">
		<webobject name = "ErrorBlock" />
		<webobject name = "Widget">
			<header></header>	
			<div class = "widget-body">
				<webobject name = "ShowTopActionBlock">
					<div class = "widget-body-toolbar">
						<webobject name = "ShouldShowDefaultPageButtons">
							<div class = "row">
								<div class = "col-sm-12 text-right">
									<webobject name = "ShowCancel">
										<webobject name = "ReturnButton">
											<i class = "fa fa-reply"></i>					
											<webobject name = "ReturnLabel"></webobject>
										</webobject>
									</webobject>
									<webobject name = "ActionBar" />
									<webobject name = "Controller" />
									<webobject name = "ClearButton" />
									<webobject name = "QueryButton" />
								</div>
							</div>
						</webobject>
					</div>
				</webobject>
				<webobject name = "QueryPageRepetition" />
				<webobject name = "ShowBottomActionBlock">
					<div class = "form-actions">
						<webobject name = "ShouldShowDefaultPageButtons">
							<div class = "row">
								<div class = "col-md-12">
									<webobject name = "ShowCancel">
										<webobject name = "ReturnButton">
											<i class = "fa fa-reply"></i>					
											<webobject name = "ReturnLabel"></webobject>
										</webobject>
									</webobject>
									<webobject name = "ActionBar" />
									<webobject name = "Controller" />
									<webobject name = "ClearButton" />
									<webobject name = "QueryButton" />
								</div>
							</div>
						</webobject>
					</div>
				</webobject>
			</div>					
		</webobject>
		<webobject name = "ShowList">
			<webobject name = "ShowResults">
				<webobject name = "ListPage" />
			</webobject>
		</webobject>
	</webobject>
</webobject>